@charset "utf-8";
.navbar-center{
    position: absolute;
    left: 50%;
    transform: translate(-50%);}
.login-text{
    padding-top: 10px; 
    padding-bottom: 18px; 
    font-size: 18px}
body{
	background-color: #003049; 
	height: 100%; 
	overflow: hidden;}
#left{
    width: 20%;
    float: left;
    height: 95vh;
    background-color: #e2c391;
    color: Brown;}
#rightbottom {
    width: 80%;
    float: left;
    height: 95vh;
    background-color: #e2c391;
    color: Brown;}
#righttop {
    width: 80%;
    float: left;
    height: 100%;
    background-color: #e2c391;
    color: Brown;}
.center{text-align: center}
.right{text-align: right}
.left{text-align: left}
.justify{text-align: justify}
.box{
	height: 175px;
	border: 2px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 14px;
	margin-right: 14px;}
.rowpad{
	padding-top: 10px;
	padding-bottom: 10px;}
.pic{
	width: 200px;
	height: 150px;
	float: Left;}
.overflow{overflow: auto;}
.Fixed{position:fixed;}
	